
body {
    background-color: lightgrey;    
}


label {
    display: block;
    margin-bottom: 5px;
    margin-right: 20px;
        
}

input, button  {
    margin-bottom: 10px;
    white-space:nowrap;
  }


form {
    background-color: white;
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid black;
}

#submit-button {
    border:2px;
    font-weight: bold;
    margin-top:10px;
}
